<!DOCTYPE html>
<html lang="en" ng-app="hotel">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="vendor/pure/css/pure-min.css">
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="vendor/pure/css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="vendor/pure/css/layouts/pricing.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Arámburo Inn</title>
</head>
<body>
	<script type="text/javascript" src="vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="vendor/jquery/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
	<div class="pure-menu pure-menu-horizontal pure-menu-fixed">
		<a href="index.html" class="pure-menu-heading">Arámburo Inn</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Inicio</a></li>
			<li class="pure-menu-item"><a href="index.html#rooms" class="pure-menu-link">Habitaciones</a></li>
			<li class="pure-menu-item"><a href="services.html" class="pure-menu-link">Servicios</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">Reservar</a></li>
			<li class="pure-menu-item"><a href="index.html#contact" class="pure-menu-link">Contacto</a></li>
			<li class="pure-menu-item"><a href="manage.html" class="pure-menu-link">Mi reservacion</a></li>
		</ul>
	</div>

	<div class="l-content" ng-controller="FindRoomController">
	<br><br><br>
		<ul ng-repeat="reservation in reservations">
			<li>
				<p>ID de cuarto: {{reservation.room_id}}</p>
				<p>De: {{reservation.from}}</p>
				<p>A. {{reservation.to}}</p>
				<p>Nombre: {{reservation.maker}}</p>
				<p>Edad: {{reservation.maker_age}}</p>
				<p>Correo: {{reservation.maker_email}}</p>
				<p>Teléfono: {{reservation.maker_phone}}</p>
				<p>Tarjeta de crédito: {{reservation.maker_credit_card}}</p>
				<p>CCV: {{reservation.ccv}}</p>
				<ul ng-repeat="person in reservation.people">
					Persona: {{person}}
				</ul>
			<hr></li>
		</ul>
	</div>

</body>
</html>
