.banner{
	margin-top: 34px !important;
	color: white !important;
	text-shadow: 0 2px 2px black;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}

.pure-menu{
	background-color: white;
}

.banner-form{
	display: table-cell;
	vertical-align: middle;
}

.banner-form legend{
	color: white !important;
}

.banner-form form input{
	color: #526066;
}

.button-reserve{
	background: #519251;
	color: white;
	border-radius: 0;
}

.button-biz{
	background: #2c4985;
	color:white;
	border-radius: 0;
}

.button-enterprise{
	background: black;
	color:white;
	border-radius: 0;
}